* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* div {
  border: 2px red solid;
} */

#clear {
  padding: 16px 0;
}

#clear-btn {
  padding: 8px;
}

div .square {
  border: 2px green solid;
}

#container {
  display: flex;
  justify-content: center;
  width: 640px;
  height: 640px;
  border: 2px red solid;
}

#container .column,
#container .square {
  min-width: 5px;
  min-height: 5px;
  flex: 1 0 auto;
}

#container .column {
  display: flex;
  flex-direction: column;
  min-height: 80px; /* This needs to be 16x height of .square */
}