* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: lightblue;
}

/* div {
  border: 2px red solid;
} */

#options {
  padding: 16px 0;
}

#clear-btn {
  padding: 8px;
}

div .square {
  border: 1px grey dotted;
}

#container {
  display: flex;
  justify-content: center;
  width: 800px;
  height: 800px;
  border: 16px red solid;
  border-radius: 32px;
  box-shadow: 5px 10px;
}

#container .column,
#container .square {
  flex: 1 0 auto;
}

#container .column {
  display: flex;
  flex-direction: column;
}

#container .square {
  background: white;
}

@media screen and (max-width: 900px) {
  #container {
    width: 80vw;
    height: 80vw;
    border: 4px red solid;
    border-radius: 4px;
    box-shadow: 2px 4px;
  }
}